/* Structure */

$header-height: 56px;
$footer-height: 48px;
$sidebar-width: 250px;

/* Colours */

$light-grey:  #F3F3F3;
$medium-grey: #C0C0C0;
$dark-grey:   #1C1C1C;

$bright-blue: #5298FC;
$light-blue: #6D808E;
$medium-blue: #5A6B77;
$dark-blue: #475762;

/* Common properties */

$separator: 1px solid $dark-blue;

/* Reset */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
