.empty-wrapper {
  height: 100%;
  text-align: center;
}

.empty-inner-wrapper {
  position: relative;
  top: 50%;
  height: 1px;
  margin: 0 auto;
  margin-top: -150px;
  width: 250px;
}

.empty-image {
  position: relative;
  margin-left: 65px;
}

.empty-users {
  background-image: url('../img/users-big.svg');
  height: 112px;
  width: 120px;
}

.empty-forms {
  background-image: url('../img/forms-big.svg');
  height: 107px;
  width: 120px;
}

.empty-label {
  margin-top: 16px;
}
