@import 'base';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  outline: 0;
  border: none;
  background: none;
}

.container {
  height: 100%;
  width: 100%;
  padding: $header-height 0 $footer-height 0;
  top: 0;
  box-sizing: border-box;
  position: absolute;
}

.page {
  height: 100%;
  margin-left: $sidebar-width;
  border-sizing: border-box;
  overflow-y: scroll;
}

.page-control {
  background-color: $light-grey;
  border-bottom: 1px solid $medium-grey;
  padding: 12px;
  overflow: hidden;
  text-align: right;
}

.page-control .filter-controls {
  float: left;
}

.page-control .download-controls {
  float: right;
}

.control {
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  color: $bright-blue;
  font-size: 14px;
  border: 1px solid $bright-blue;
  cursor: pointer;
}

.form-control {
  margin-bottom: 16px;
}

.form-list-item {
  @extend .page-control;
  line-height: 35px;
  margin-bottom: 12px;
  border-top: 1px solid $medium-grey;
}
