<div class="form-list-item" data-form={{id}}>
  <div class="filter-controls">
    {{name}}
  </div>
  <div class="download-controls">
    <button class="control send-to-users"><span class="glyphicon glyphicon-send"></span> Send to users</button>
    <button class="control view-responses"><span class="glyphicon glyphicon glyphicon-inbox"></span> View responses</button>
  </div>
</div>
