<div class="page-control">
  <div class="filter-controls">
    <button class="control"><span class="icon icon-filter"></span>Filter updates</button>
  </div>
  <div class="download-controls">
    <button class="control download-updated"><span class="icon icon-download-updated"></span>Download updated</button>
    <button class="control download-all"><span class="icon icon-download"></span>Download all</button>
  </div>
</div>
{{> forms-table this}}
