<div class="page-control form-control-wrapper">
  <div class="add-form">
    <h4 class="add-form-header">Create new form</h4>
    <div class="add-form-input-group">
      <label class="add-form-label" for="add-form-name">Name</label>
      <input class="add-form-input" id="add-form-name">
    </div>
    <div class="add-form-input-group">
      <label class="add-form-label" for="add-form-description">Description</label>
      <input class="add-form-input" id="add-form-description">
    </div>
    <div class="add-form-input-group">
      <label class="add-form-label" for="add-form-fields">Fields</label>
      <input class="add-form-input" id="add-form-fields">
    </div>
    <div>
      <button class="control add-form-submit"><span class="glyphicon glyphicon-plus"></span> Create form</button>
    </div>
  </div>
  <div class="download-controls">
    <button class="control add-new-form"><span class="glyphicon glyphicon-plus"></span> Create new form</button>
  </div>
</div>
{{#each this}}
  {{> form-list this}}
{{else}}
  <div class="empty-wrapper">
    <div class="empty-inner-wrapper">
      <div class="empty-image empty-forms"></div>
      <div class="empty-label">You have not created any forms yet.</div>
    </div>
  </div>
{{/each}}

<!-- Modal -->
<div class="modal fade" id="send-to-users-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Send to users</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control numbers" id="numbers" placeholder="List of user numbers (comma separated)">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary send" data-dismiss="modal">Send</button>
      </div>
    </div>
  </div>
</div>
