<div class="page-control form-control">
  <div class="download-controls">
    <button class="control new-form"><span class="glyphicon glyphicon-plus"></span> Create new form</button>
  </div>
</div>
{{#each this}}
  {{> form-list this}}
{{else}}
  <div class="empty-wrapper">
    <div class="empty-inner-wrapper">
      <div class="empty-image empty-forms"></div>
      <div class="empty-label">You have not created any forms yet.</div>
    </div>
  </div>
{{/each}}
