<div class="data-table-control" style="margin-bottom: 16px;">
  <div class="download-controls">
    <button class="control new-form"><span class="glyphicon glyphicon-plus"></span> Create new form</button>
  </div>
</div>
{{> data-table this}}
