<div class="data-table-control">
  <div class="filter-controls">
    <button class="control"><span class="icon icon-filter"></span>Filter new responses</button>
  </div>
  <div class="download-controls">
    <button class="control"><span class="icon icon-download-updated"></span>Download new</button>
    <button class="control"><span class="icon icon-download"></span>Download all</button>
  </div>
</div>
<table class="data-table" data-slide-table={{id}}>
  <thead>
    <tr>
      {{#each fields}}
        <td>{{description}}</td>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each responses}}
      {{> response-row response=this fields=../fields}}
    {{/each}}
  </tbody>
</table>
