<div class="data-table-control">
  <div class="filter-controls">
    <button class="control"><span class="icon icon-filter"></span>Filter new responses</button>
  </div>
  <div class="download-controls">
    <button class="control"><span class="icon icon-download-updated"></span>Download new</button>
    <button class="control"><span class="icon icon-download"></span>Download all</button>
  </div>
</div>
{{> data-table this}}
